# eclipse
eclipse/
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
.idea/
out
*.iml
*.ipr
*.iws

# vscode
.vscode/

# visual studio
.vs/

# gradle
.gradle/
.kotlin/
build/
secrets.gradle
versions/*-*/**

# Minecraft
run/

# AI tools
/.ai/
.clinerules/
.codebuddy/
.cursorrules/
.kilocode/
.lingma/
.marscode/
.trae/

# logs
**/logs/*.log
**/logs/*.log.gz

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
.profileconfig.json
